@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Fondos principales */
    --background: #ffffff;
    --foreground: #1a2234;

    /* Colores primarios */
    --primary: #3b82f6;
    --primary-foreground: #ffffff;

    /* Colores secundarios */
    --secondary: #f1f5f9;
    --secondary-foreground: #1a2234;

    /* Colores de acento */
    --accent: #dbeafe;
    --accent-foreground: #1e40af;

    /* Colores de estado */
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --success: #22c55e;
    --success-foreground: #ffffff;
    --warning: #f59e0b;
    --warning-foreground: #ffffff;

    /* Colores de interfaz */
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --card: #f9fafb;
    --card-foreground: #1a2234;
    --popover: #ffffff;
    --popover-foreground: #1a2234;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #93c5fd;

    /* Otros */
    --radius: 0.5rem;

    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .dark {
    /* Fondos principales */
    --background: #020817;
    --foreground: #f8fafc;

    /* Colores primarios */
    --primary: #3b82f6;
    --primary-foreground: #ffffff;

    /* Colores secundarios */
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    /* Colores de acento */
    --accent: #1e40af;
    --accent-foreground: #ffffff;

    /* Colores de estado */
    --destructive: #dc2626;
    --destructive-foreground: #ffffff;
    --success: #16a34a;
    --success-foreground: #ffffff;
    --warning: #d97706;
    --warning-foreground: #ffffff;

    /* Colores de interfaz */
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --card: #0f172a;
    --card-foreground: #f8fafc;
    --popover: #0f172a;
    --popover-foreground: #f8fafc;
    --border: #1e293b;
    --input: #1e293b;
    --ring: #1e40af;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
